html {
    height: 100%;
  }

  input,
  textarea {
    outline: none;
  }

  body {
    position: relative;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
  }

  #main_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  body canvas {
    position: absolute;
    top: 0;
  }

  label,
  input {
    display: block;
  }

  label:not(:first-child) {
    margin-top: 10px;
  }

  input.text {
    width: 95%;
    padding: .4em;
  }

  fieldset {
    padding: 0;
    border: 0;
    margin-top: 5px;
  }

  h1 {
    font-size: 1.2em;
    margin: .6em 0;
  }

  div#users-contain {
    width: 350px;
    margin: 20px 0;
  }

  div#users-contain table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
  }

  div#users-contain table td,
  div#users-contain table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
  }

  .ui-dialog .ui-state-error {
    padding: .3em;
  }

  .avatar {
    display: inline-block;
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .evo-cp-wrap {
    display: flex;
    align-items: center;
  }

  .user_info {
    display: flex;
    margin-bottom: 5px;
  }

  .user_info .content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    background-color: #ffffff80;
    border-radius: 5px;
    padding: 10px;
  }

  .user_info .content .id {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .user_info .content .id::after {
    content: ":"
  }

  #room_background_image {
    background-color: #a89bd8;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #room_header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #ffffff80;
    padding: 5px;
    height: 38px;
    text-align: justify;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    right: 0;
  }

  .threejs-stats {
      display: none;
  }

  #room_body {
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 40px;
  }

  #user_message_container {
    position: fixed;
    bottom: 10px;
    width: 90%;
    display: none;
  }

  #user_message {
    border-radius: 5px;
    padding: 5px;
    resize: none;
    width: 100%;
    font-size: 1.1em;
    border-width: 0;
    opacity: 0.75;
  }

  #send_message_button {
    display: none;
  }

  #start_img,
  #start_img_voice {
    width: 30px;
  }

  #start_button,
  #start_button_voice {
    padding: 2px 5px;
  }

  .top_control_button {
      height: 40px;
  }

  #note_kt {
    margin: 5px 0;
  }

  #note_kt span {
    background-color: #ffffff80;
    padding: 3px;
    font-style: italic;
    font-size: 13px;
  }

  #draw_dialog {
    padding: 7px;
  }

  #watch_video_dialog {
    padding: 2px;
  }

  #draw_dialog .evo-cp-wrap {
    /* display: inline; */
  }

  #draw_dialog_config {
    position: absolute;
    bottom: 20px;
  }

  #watch_video_video_send,
  #watch_video_video_receive {
    max-width: 300px;
    display: none;
  }

  /* Three */
  #log {
    position: absolute;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.49);
    right: 0;
  }

  #nav-basic {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 1;
  }

  #nav-around {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 1;
  }

  #nav-basic button,
  #nav-around button {
    padding: 10px;
  }

  #nav-forward,
  #nav-up {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  #nav-backward,
  #nav-down {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #nav-left,
  #nav-turn-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #nav-right,
  #nav-turn-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  button.active {
    background-color: blue;
  }

  .ui-widget {
      font-size: inherit;
  }

  .ui-dialog .ui-dialog-content {
      padding: 0.5em 0;
  }

  .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    background: #fff;
    color: #000;
  }